<?xml version="1.0"?>
<launch>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
  </include>
  
  <node pkg="button_tracker_3d" type="button_tracker.py" name="button_tracker" output="screen"/>
  <node pkg="button_tracker_3d" type="button3d_node" name="button_3d" output="screen"/>
</launch>
